<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zte.sms.dao.SysuserDao">

	<!-- 
		根据用户名和密码查询记录
		public Sysuser selectUserByUsernameAndPass(SysuserVO sysuserVO);
	 -->
	 <select id="selectUserByUsernameAndPass" parameterType="com.zte.sms.vo.SysuserVO" resultType="Sysuser">
	 	SELECT
			id,username,password,state
		FROM
			sysuser
		WHERE
			username=#{username}
			 AND
			password=#{password}
	 </select>
	 
	 <!-- 
	 	//根据id和老密码查找用户
	public Sysuser selectUserByIdAndPass(SysuserVO sysuserVO);
	
	//根据id修改密码
	public void updatePassById(SysuserVO sysuserVO);
	  -->
	  <select id="selectUserByIdAndPass" parameterType="com.zte.sms.vo.SysuserVO" resultType="Sysuser">
	  		SELECT
				id,username,password,state
			FROM
				sysuser
			WHERE
				id=#{id}
				AND 
				password=#{password}
	  </select>
	  
	  <update id="updatePassById" parameterType="com.zte.sms.vo.SysuserVO">
	  		UPDATE
				sysuser
			SET
				password=#{newPass}
			WHERE
				id=#{id}
	  </update>
	  

</mapper>












